**/bin/
**/obj/
**/node_modules/
**/.angular/
**/dist/
documentation/site/
**/coverage/
TestResults/
.vs/
.local/
/.temp/
.env
*.user
*.pfx
*.pem
artifacts/
/business-modules/
/modules/Private/
/.private-modules/
/modules/client/business-modules.enabled
/modules/client/client-modules.json
/src/TemplateV4.Angular/src/business-modules.g.ts
/src/TemplateV4.Angular/src/business-modules.g.css
/src/TemplateV4.Angular/src/bundled-modules.g.ts
client-template.json
deploy/release-feed/release-credentials.json
